ZX/Bin/cpm_HiTech.txt
ZX/Bin/cpm_HiTech.zip
ZX/Bin/z80doc.zip
ZX/Bin/z80v309.lzh
ZX/Obj/*.asm
ZX/Obj/*.bin
ZX/Obj/*.ihx
ZX/Obj/*.lk
ZX/Obj/*.lst
ZX/Obj/*.map
ZX/Obj/*.noi
ZX/Obj/*.sym
ZX/Obj/*.rel
ZX/Rsrc/Gfx/
Jme/Docu/SpeakAbout.txt
WasDone.rtf
